.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  padding: 26px 0;
  background-color: $color-dark;
}

.header_inner {
  @include inner;
}

.header_row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_logo {
  font-family: $font-title;
  font-size: 42px;
  font-weight: 300;
  line-height: 49px;
  background-color: $color-dark;
  color: $color-light;
  text-decoration: none;
}

.header_phone {
  font-size: 24px;
  line-height: 33px;
  color: $color-light;
  text-decoration: none;
}
