.order-form {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.order-form_field {
  width: 100%;
}

.order-form_field-half {
  width: calc(50% - 15px);
}

.order-form_label {
  margin-left: 20px;
  font-size: 20px;
  line-height: 27px;
  color: $color-accent;
}

.order-form_input,
.order-form_textarea {
  width: 100%;
  padding: 20px;
  margin-top: 5px;
  font-size: 20px;
  line-height: 27px;
  color: $color-dark;
  background-color: $color-light;
  border-radius: 8px;
  border: none;
}

.order-form_textarea {
  height: 167px;
  font-family: $font;
  resize: none;
}

.order-form_checkbox-text {
  display: flex;
  gap: 10px;
  font-size: 20px;
  line-height: 27px;

  &:before {
    content: '';
    flex-shrink: 0;
    display: block;
    width: 32px;
    height: 32px;
    border: 2px solid $color-accent;
    border-radius: 4px;
    cursor: pointer;
  }

  a {
    color: $color-accent;
  }
}

.order-form_checkbox {
  display: none;

  &:checked + .order-form_checkbox-text {
    &:before {
      background-color: $color-accent;
      box-shadow: inset 0 0 0 2px $color-light;
    }
  }
}
