.services {
  padding: 100px 0;
  background-color: $color-light;
}

.services_inner {
  @include inner;
}

.services_title {
  @include section-title;
}

.services_list {
  display: flex;
  flex-wrap: wrap;
  column-gap: $gap-column;
  row-gap: 50px;
  margin-top: 70px;

  @media (max-width: $mobile-max) {
    display: block;
  }
}

.services_item {
  flex-basis: calc(50% - $gap-column / 2);
  list-style: none;
}

.services_caption {
  display: none;
  font-family: $font-title;
  font-size: 40px;
  font-weight: 500;
  line-height: 47px;
  color: $color-dark;

  &.transparent {
    opacity: .1;
  }
}

.services_text {
  margin-top: 30px;
  font-size: 28px;
  font-weight: 300;
  line-height: 38px;
  color: $color-dark;
}
