// Fonts
$font: 'Open Sans', sans-serif;
$font-title: 'Raleway', sans-serif;

// colors
$color-dark: #152B3C;
$color-light: #fbf2da;
$color-accent: #D46240;

// indents
$gap-column: 30px;

// breakpoints
